/* List */

ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em;

  li {
    padding-left: 0.25em;
  }
}

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;

  li {
    padding-left: 0.5em;
  }

  &.alt {
    list-style: none;
    padding-left: 0;

    li {
      border-top: solid 1px;
      padding: 0.5em 0;

      &:first-child {
        border-top: 0;
        padding-top: 0;
      }
    }
  }

  &.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;

    li {
      display: inline-block;
      padding: 0 0.65em 0 0;

      &:last-child {
        padding-right: 0 !important;
      }
    }
  }

  &.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;

    li {
      display: inline-block;
      padding: 0 1em 0 0;
      vertical-align: middle;

      &:last-child {
        padding-right: 0;
      }
    }

    &.small li {
      padding: 0 0.5em 0 0;
    }

    &.vertical li {
      display: block;
      padding: 1em 0 0 0;

      &:first-child {
        padding-top: 0;
      }

      > * {
        margin-bottom: 0;
      }
    }

    &.vertical.small li {
      padding: 0.5em 0 0 0;

      &:first-child {
        padding-top: 0;
      }
    }

    &.fit {
      display: table;
      margin-left: -1em;
      padding: 0;
      table-layout: fixed;
      width: calc(100% + 1em);

      li {
        display: table-cell;
        padding: 0 0 0 1em;

        > * {
          margin-bottom: 0;
        }
      }

      &.small {
        margin-left: -0.5em;
        width: calc(100% + 0.5em);

        li {
          padding: 0 0 0 0.5em;
        }
      }
    }

    @media screen and (max-width: 480px) {
      margin: 0 0 2em 0;

      li {
        padding: 1em 0 0 0;
        display: block;
        text-align: center;
        width: 100%;

        &:first-child {
          padding-top: 0;
        }

        > * {
          width: 100%;
          margin: 0 !important;
        }
      }

      &.small li {
        padding: 0.5em 0 0 0;

        &:first-child {
          padding-top: 0;
        }
      }
    }
  }
}

dl {
  margin: 0 0 2em 0;

  dt {
    display: block;
    font-weight: 400;
    margin: 0 0 1em 0;
  }

  dd {
    margin-left: 2em;
  }

  &.alt {
    dt {
      display: block;
      width: 3em;
      margin: 0;
      clear: left;
      float: left;
    }

    dd {
      margin: 0 0 0.85em 5.5em;
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
}

ul.alt li {
  border-top-color: rgba(255, 255, 255, 0.35);
}

dl dt {
  color: #ffffff;
}
